In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\dell\onedrive\desktop\maitree\test\vnvv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\dell\onedrive\desktop\maitree\test\vnvv\lib\site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\onedrive\desktop\maitree\test\vnvv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\onedrive\desktop\maitree\test\vnvv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\onedrive\desktop\maitree\test\vnvv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\dell\onedrive\desktop\maitree\test\vnvv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd

In [4]:
data=pd.read_csv("analysis_id(in).csv")
data=pd.DataFrame(data)
print(data)

      Unnamed: 0            date_hour     client device_type  \
0              0  2021-04-11T01:00:00  asc126828     Desktop
1              1  2021-04-11T01:00:00  asc126828     Desktop
2              2  2021-04-11T01:00:00  asc126828     Desktop
3              3  2021-04-11T01:00:00  asc126828     Desktop
4              4  2021-04-11T01:00:00  asc126828     Desktop
...          ...                  ...        ...         ...
4995        4995  2021-04-11T01:00:00  asc126828     Desktop
4996        4996  2021-04-11T01:00:00  asc126828     Desktop
4997        4997  2021-04-11T01:00:00  asc126828     Desktop
4998        4998  2021-04-11T01:00:00  asc126828     Desktop
4999        4999  2021-04-11T01:00:00  asc126828     Desktop

             time_zone  os_name        browser_name  \
0      America/Chicago    Linux  Chrome-85.04183133
1      America/Chicago    Linux  Chrome-85.04183133
2      America/Chicago    Linux  Chrome-85.04183133
3      America/Chicago    Linux  Chrome-85.04183133
4      America/Chicago    Linux  Chrome-85.04183133
...                ...      ...                 ...
4995  America/New_York  Windows  Chrome-89.04389114
4996  America/New_York  Windows  Chrome-89.04389114
4997  America/New_York  Windows  Chrome-89.04389114
4998  America/New_York  Windows  Chrome-89.04389114
4999  America/New_York  Windows  Chrome-89.04389114

                            ad_unit     size     bidder  ...  \
0           div-gpt-ad-BT-D-Footers   728x90  onemobile  ...
1           div-gpt-ad-BT-D-Footers   728x90  rhythmone  ...
2          div-gpt-ad-BT-D-InLine-1  300x250  undertone  ...
3       div-gpt-ad-BT-D-O-300x250-1  300x250             ...
4       div-gpt-ad-BT-D-O-300x250-1  300x250  rhythmone  ...
...                             ...      ...        ...  ...
4995  div-gpt-ad-BT-D-InPost-8_1_20   468x60             ...
4996  div-gpt-ad-BT-D-InPost-8_1_20   728x90   medianet  ...
4997  div-gpt-ad-BT-D-InPost-8_1_22   468x60             ...
4998  div-gpt-ad-BT-D-InPost-8_1_27  310x260             ...
4999  div-gpt-ad-BT-D-InPost-8_1_33   728x90             ...

     sum_time_to_respond   median  min_bid  max_bid   avg_bid  \
0                 6614.0      NaN  0.58520  0.58520  0.585200
1                 5171.0      NaN  0.33945  0.34875  0.344100
2                 1523.0      NaN  0.96000  0.96000  0.960000
3                    NaN      NaN      NaN      NaN       NaN
4                 3570.0  0.34875  0.34410  0.34875  0.346425
...                  ...      ...      ...      ...       ...
4995                 NaN      NaN      NaN      NaN       NaN
4996               363.0  0.05828  0.05828  0.05828  0.058280
4997                 NaN      NaN      NaN      NaN       NaN
4998                 NaN      NaN      NaN      NaN       NaN
4999                 NaN      NaN      NaN      NaN       NaN

      sum_2nd_highest_bid  sum_prebid_winning_bid  sum_winning_bid  sum_nobid  \
0                  0.5852                  0.5852              NaN        NaN
1                     NaN                     NaN              NaN        NaN
2                     NaN                     NaN              NaN        NaN
3                     NaN                     NaN              NaN        NaN
4                     NaN                     NaN              NaN        NaN
...                   ...                     ...              ...        ...
4995                  NaN                     NaN              NaN        NaN
4996                  NaN                     NaN              NaN        NaN
4997                  NaN                     NaN              NaN        NaN
4998                  NaN                     NaN              NaN        NaN
4999                  NaN                     NaN              NaN        NaN

      sum_timeout
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
...           ...
4995          NaN
4996          NaN
4997          NaN
4998          NaN
4999          NaN

[5000 rows x 27 columns]

In [5]:
data

,Unnamed: 0,date_hour,client,device_type,time_zone,os_name,browser_name,ad_unit,size,bidder,...,sum_time_to_respond,median,min_bid,max_bid,avg_bid,sum_2nd_highest_bid,sum_prebid_winning_bid,sum_winning_bid,sum_nobid,sum_timeout
0,0,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-Footers,728x90,onemobile,...,6614.0,NaN,0.58520,0.58520,0.585200,0.5852,0.5852,NaN,NaN,NaN
1,1,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-Footers,728x90,rhythmone,...,5171.0,NaN,0.33945,0.34875,0.344100,NaN,NaN,NaN,NaN,NaN
2,2,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-InLine-1,300x250,undertone,...,1523.0,NaN,0.96000,0.96000,0.960000,NaN,NaN,NaN,NaN,NaN
3,3,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-O-300x250-1,300x250,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-O-300x250-1,300x250,rhythmone,...,3570.0,0.34875,0.34410,0.34875,0.346425,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4995,2021-04-11T01:00:00,asc126828,Desktop,America/New_York,Windows,Chrome-89.04389114,div-gpt-ad-BT-D-InPost-8_1_20,468x60,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4996,4996,2021-04-11T01:00:00,asc126828,Desktop,America/New_York,Windows,Chrome-89.04389114,div-gpt-ad-BT-D-InPost-8_1_20,728x90,medianet,...,363.0,0.05828,0.05828,0.05828,0.058280,NaN,NaN,NaN,NaN,NaN
4997,4997,2021-04-11T01:00:00,asc126828,Desktop,America/New_York,Windows,Chrome-89.04389114,div-gpt-ad-BT-D-InPost-8_1_22,468x60,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4998,4998,2021-04-11T01:00:00,asc126828,Desktop,America/New_York,Windows,Chrome-89.04389114,div-gpt-ad-BT-D-InPost-8_1_27,310x260,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4999,4999,2021-04-11T01:00:00,asc126828,Desktop,America/New_York,Windows,Chrome-89.04389114,div-gpt-ad-BT-D-InPost-8_1_33,728x90,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
data['ad_unit'].value_counts()

ad_unit
div-gpt-ad-BT-D-SideBar-T        532
div-gpt-ad-BT-D-Footers          396
div-gpt-ad-BT-D-SideBar-1        303
div-gpt-ad-BT-D-Sidebar-B        259
div-gpt-ad-BT-D-InLine-1         259
                                ...
div-gpt-ad-BT-T-InPost-3_1_11      1
div-gpt-ad-BT-T-InPost-9_1_45      1
div-gpt-ad-BT-T-InPost-9_1_51      1
div-gpt-ad-BT-D-InPost-8_1_96      1
div-gpt-ad-BT-D-InPost-1_1_17      1
Name: count, Length: 260, dtype: int64

In [ ]:
'''
The above data is data for prebid auctions. There are bidders who receive requests for placing ads,
they respond to these requests with a bid and the highest bid wins the auction. 
Analyze the dataset to answer which bidder has the highest win rate (wins / total_bid)?

'''

In [ ]:
#checking for the missing value
data.isna().sum()

Unnamed: 0                   0
date_hour                    0
client                       0
device_type                  0
time_zone                    0
os_name                      0
browser_name                 0
ad_unit                      0
size                         0
bidder                       0
bid_range                    0
media_type                   0
request_count                0
response_count               0
prebid_win_count          3833
win_count                 4814
sum_bid                   1210
sum_time_to_respond       1210
median                    3240
min_bid                   1210
max_bid                   1210
avg_bid                   1210
sum_2nd_highest_bid       4266
sum_prebid_winning_bid    3833
sum_winning_bid           4814
sum_nobid                 5000
sum_timeout               5000
dtype: int64

In [9]:
data.columns

Index(['Unnamed: 0', 'date_hour', 'client', 'device_type', 'time_zone',
       'os_name', 'browser_name', 'ad_unit', 'size', 'bidder', 'bid_range',
       'media_type', 'request_count', 'response_count', 'prebid_win_count',
       'win_count', 'sum_bid', 'sum_time_to_respond', 'median', 'min_bid',
       'max_bid', 'avg_bid', 'sum_2nd_highest_bid', 'sum_prebid_winning_bid',
       'sum_winning_bid', 'sum_nobid', 'sum_timeout'],
      dtype='object')

In [10]:
data.describe()

,Unnamed: 0,request_count,response_count,prebid_win_count,win_count,sum_bid,sum_time_to_respond,median,min_bid,max_bid,avg_bid,sum_2nd_highest_bid,sum_prebid_winning_bid,sum_winning_bid,sum_nobid,sum_timeout
count,5000.000000,5000.00000,5000.000000,1167.000000,186.000000,3790.000000,3790.000000,1760.000000,3790.000000,3790.000000,3790.000000,734.000000,1167.000000,186.000000,0.0,0.0
mean,2499.500000,56.64960,4.304800,2.875750,1.494624,1.687932,3601.955145,0.969637,0.662073,0.677288,0.669344,0.880864,1.503674,1.517776,NaN,NaN
std,1443.520003,632.18282,15.858846,6.852213,1.661153,3.275426,10546.457681,1.228221,0.940156,0.935942,0.938137,1.112114,2.106157,2.738279,NaN,NaN
min,0.000000,1.00000,0.000000,1.000000,1.000000,0.008405,51.000000,0.008460,0.005967,0.008405,0.008405,0.009400,0.008460,0.051480,NaN,NaN
25%,1249.750000,1.00000,1.000000,1.000000,1.000000,0.253432,471.000000,0.174600,0.133000,0.161468,0.145500,0.198510,0.370900,0.464071,NaN,NaN
50%,2499.500000,2.00000,1.000000,1.000000,1.000000,0.738943,994.500000,0.533610,0.313041,0.347949,0.337312,0.561049,0.905610,0.969600,NaN,NaN
75%,3749.250000,16.00000,2.000000,2.000000,1.000000,1.836004,2341.250000,1.320570,0.814800,0.827241,0.824068,1.123550,1.734954,1.763130,NaN,NaN
max,4999.000000,21855.00000,348.000000,144.000000,16.000000,87.057500,177874.000000,9.670900,9.670900,9.670900,9.670900,8.620920,26.505200,34.483680,NaN,NaN

In [11]:
total_bids=data['bidder'].value_counts().reset_index()

In [12]:
total_bids

          bidder  count
0                  1210
1             ix    464
2      onemobile    407
3       medianet    384
4         criteo    306
5       pubmatic    298
6      rhythmone    246
7       33across    240
8     triplelift    232
9          openx    197
10      appnexus    197
11       rubicon    178
12   emx_digital    169
13  sharethrough    139
14    pulsepoint    134
15         sovrn    102
16     undertone     49
17         teads     48

In [13]:
wins=data.groupby('bidder')['win_count'].sum().reset_index()
wins

          bidder  win_count
0                       0.0
1       33across       19.0
2       appnexus       10.0
3         criteo       21.0
4    emx_digital       20.0
5             ix       13.0
6       medianet       20.0
7      onemobile       35.0
8          openx        7.0
9       pubmatic       57.0
10    pulsepoint        5.0
11     rhythmone       18.0
12       rubicon        0.0
13  sharethrough       10.0
14         sovrn        1.0
15         teads       16.0
16    triplelift       10.0
17     undertone       16.0

In [14]:
final_data=total_bids.merge(wins,on='bidder',how='left')
final_data

          bidder  count  win_count
0                  1210        0.0
1             ix    464       13.0
2      onemobile    407       35.0
3       medianet    384       20.0
4         criteo    306       21.0
5       pubmatic    298       57.0
6      rhythmone    246       18.0
7       33across    240       19.0
8     triplelift    232       10.0
9          openx    197        7.0
10      appnexus    197       10.0
11       rubicon    178        0.0
12   emx_digital    169       20.0
13  sharethrough    139       10.0
14    pulsepoint    134        5.0
15         sovrn    102        1.0
16     undertone     49       16.0
17         teads     48       16.0

In [18]:
final_data['win_rate']=(final_data['win_count']/final_data['count'])*100

In [ ]:
final_data.sort_values(by='win_rate')

          bidder  count  win_count   win_rate
0                  1210        0.0   0.000000
11       rubicon    178        0.0   0.000000
15         sovrn    102        1.0   0.980392
1             ix    464       13.0   2.801724
9          openx    197        7.0   3.553299
14    pulsepoint    134        5.0   3.731343
8     triplelift    232       10.0   4.310345
10      appnexus    197       10.0   5.076142
3       medianet    384       20.0   5.208333
4         criteo    306       21.0   6.862745
13  sharethrough    139       10.0   7.194245
6      rhythmone    246       18.0   7.317073
7       33across    240       19.0   7.916667
2      onemobile    407       35.0   8.599509
12   emx_digital    169       20.0  11.834320
5       pubmatic    298       57.0  19.127517
16     undertone     49       16.0  32.653061
17         teads     48       16.0  33.333333